# canRenderInLayer hook
public net.minecraft.client.renderer.model.WeightedBakedModel field_177566_c # baseModel

# Weighted model caching hax
public net.minecraft.client.renderer.model.WeightedBakedModel field_177567_a # totalWeight
public net.minecraft.client.renderer.model.WeightedBakedModel field_177565_b # models
public net.minecraft.client.renderer.model.WeightedBakedModel$WeightedModel
public net.minecraft.client.renderer.model.WeightedBakedModel$WeightedModel field_185281_b # model

# Multipart model access
public net.minecraft.client.renderer.model.MultipartBakedModel field_188626_f # selectors